POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
AUDIENCE_URL=
ISSUER_URL=
AUTH0_ENVIRONMENT_PREFIX=
RESET_DB=false
USE_AUTH_0=true
ENVIRONMENT=PRODUCTION
SENTRY_ENVIRONMENT=
METRICS_NAMESPACE=
SLACK_REDIRECT_URI=
SHIELDRULE_ENVIRONMENT=
PROMETHEUS_ACCESS_TOKEN=ebGCSw83OpaDn9VQ7gmCkj9iHe0GdJSfwKFWXyczSgv51pF
EMAIL_USER_TOKEN=/2OjsHQ6GB8HFayDRaF0p1i9+dLQavv0XgIVliAU
EMAIL_USER_KEY=AKIAYXVQZDTZY67DL4VS
USE_INSTANCE_PROFILE=true
SERVER_BUCKET=
REDIS_HOST=
REDIS_PORT=
USE_REDIS=true
USE_SQS=true
SQS_QUEUE_NAME=
SQS_URL=