POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=donkey
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
AUDIENCE_URL=
ISSUER_URL=
AUTH0_ENVIRONMENT_PREFIX=
RESET_DB=false
USE_AUTH_0=true
ENVIRONMENT=PRODUCTION
SENTRY_ENVIRONMENT=development
METRICS_NAMESPACE=development
SLACK_REDIRECT_URI=
SHIELDRULE_ENVIRONMENT=dev
PROMETHEUS_ACCESS_TOKEN=ebGCSw83OpaDn9VQ7gmCkj9iHe0GdJSfwKFWXyczSgv51pF
EMAIL_USER_TOKEN=/2OjsHQ6GB8HFayDRaF0p1i9+dLQavv0XgIVliAU
EMAIL_USER_KEY=AKIAYXVQZDTZY67DL4VS
USE_INSTANCE_PROFILE=true
SERVER_BUCKET=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
USE_REDIS=true
USE_SQS=true
SQS_QUEUE_NAME=
SQS_URL=